@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}

html, body, [class*="css"] {
    font-family: 'Didact Gothic', serif; 
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #091747;
}
